/* header{ font-size:24px; font-family: "Brush Script MT", cursive; text-align:center;}
 */






.send-image {
  background-color: #ff9999;
  padding-top: 20px;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-bottom: 20px;
}


.send-image p {
  font-size: 25px;
}



img:hover {
  transform: scale(1.5);
  transition: 0.5s transform;
}